# Getting Setup

In [20]:
import pandas as pd
from pathlib import Path

In [21]:
cwd = Path.cwd()
print(cwd)

/Users/noahbakayou/Developer/CodingProjects/SDSU/CS577/LECTURE2/notebooks

In [22]:
parent = cwd.parent
print(parent)

/Users/noahbakayou/Developer/CodingProjects/SDSU/CS577/LECTURE2

In [23]:
filename = 'dummy.txt'

# The / operator joins path components together to create a full file path
# This line creates a path by joining the parent directory, 'data' folder, and filename
filepath = cwd.parent / 'data' / filename

In [24]:
if filepath.exists():
    print("Found")

Found

In [25]:
cwd = Path.cwd()
filepath = cwd.parent / 'data/USCS-1999-2022-ASCII' / 'BYAREA_COUNTRY.TXT'
print(filepath)

/Users/noahbakayou/Developer/CodingProjects/SDSU/CS577/LECTURE2/data/USCS-1999-2022-ASCII/BYAREA_COUNTRY.TXT

In [26]:
my_df = pd.read_csv(cwd.parent / 'data/USCS-1999-2022-ASCII/BYAREA_COUNTY.TXT', delimiter='|', na_values=['~', '.', '+'])

/var/folders/2j/_9j01ry54m79wdlx_7m_jwcw0000gn/T/ipykernel_78693/3965319588.py:1: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  my_df = pd.read_csv(cwd.parent / 'data/USCS-1999-2022-ASCII/BYAREA_COUNTY.TXT', delimiter='|', na_values=['~', '.', '+'])

In [27]:
my_df[100000:100005]

,STATE,AREA,AGE_ADJUSTED_CI_LOWER,AGE_ADJUSTED_CI_UPPER,AGE_ADJUSTED_RATE,COUNT,EVENT_TYPE,POPULATION,RACE,SEX,SITE,YEAR
100000,AR,AR: Calhoun County (05013),NaN,NaN,NaN,NaN,Mortality,43,"American Indian/Alaska Native, Non-Hispanic",Female,Melanomas of the Skin,2019-2023
100001,AR,AR: Calhoun County (05013),NaN,NaN,NaN,NaN,Incidence,40,"American Indian/Alaska Native, Non-Hispanic",Female,Mesothelioma,2018-2022
100002,AR,AR: Calhoun County (05013),NaN,NaN,NaN,NaN,Mortality,43,"American Indian/Alaska Native, Non-Hispanic",Female,Mesothelioma,2019-2023
100003,AR,AR: Calhoun County (05013),NaN,NaN,NaN,NaN,Incidence,40,"American Indian/Alaska Native, Non-Hispanic",Female,Myeloma,2018-2022
100004,AR,AR: Calhoun County (05013),NaN,NaN,NaN,NaN,Mortality,43,"American Indian/Alaska Native, Non-Hispanic",Female,Myeloma,2019-2023

# Understand the data

In [28]:
my_df[my_df['COUNT'].notna()]

,STATE,AREA,AGE_ADJUSTED_CI_LOWER,AGE_ADJUSTED_CI_UPPER,AGE_ADJUSTED_RATE,COUNT,EVENT_TYPE,POPULATION,RACE,SEX,SITE,YEAR
95,AK,AK: Aleutians East Borough (02013) - 1994+,221.3,554.1,362.8,41.0,Incidence,17083,All Races,Male and Female,All Cancer Sites Combined,2018-2022
243,AK,AK: Aleutians East Borough (02013) - 1994+,589.6,1339.7,902.0,32.0,Incidence,2457,"American Indian/Alaska Native, Non-Hispanic",Male and Female,All Cancer Sites Combined,2018-2022
961,AK,AK: Aleutians West Census Area (02016) - 1994+,179.5,562.4,335.1,23.0,Incidence,7879,All Races,Female,All Cancer Sites Combined,2018-2022
1010,AK,AK: Aleutians West Census Area (02016) - 1994+,118.5,553.8,288.4,23.0,Incidence,18105,All Races,Male,All Cancer Sites Combined,2018-2022
1056,AK,AK: Aleutians West Census Area (02016) - 1994+,163.2,414.4,270.5,46.0,Incidence,25984,All Races,Male and Female,All Cancer Sites Combined,2018-2022
...,...,...,...,...,...,...,...,...,...,...,...,...
2994398,WY,WY: Weston County (56045),22.1,59.3,36.4,21.0,Incidence,31146,"White, Non-Hispanic",Male and Female,Colon and Rectum,2018-2022
2994416,WY,WY: Weston County (56045),47.7,97.2,68.3,37.0,Incidence,31146,"White, Non-Hispanic",Male and Female,Lung and Bronchus,2018-2022
2994417,WY,WY: Weston County (56045),29.7,76.5,48.4,22.0,Mortality,30394,"White, Non-Hispanic",Male and Female,Lung and Bronchus,2019-2023
2994418,WY,WY: Weston County (56045),94.8,212.5,143.7,32.0,Incidence,14240,"White, Non-Hispanic",Male and Female,Male and Female Breast,2018-2022
2994435,WY,WY: Weston County (56045),71.5,159.0,107.3,31.0,Incidence,16906,"White, Non-Hispanic",Male and Female,Prostate,2018-2022

In [29]:
my_df.shape

(2994445, 12)

In [31]:
my_df.columns

Index(['STATE', 'AREA', 'AGE_ADJUSTED_CI_LOWER', 'AGE_ADJUSTED_CI_UPPER',
       'AGE_ADJUSTED_RATE', 'COUNT', 'EVENT_TYPE', 'POPULATION', 'RACE', 'SEX',
       'SITE', 'YEAR'],
      dtype='object')

In [ ]:
my_df['SITE'].unique()